.single {
  padding: 70px 50px;
  text-align: center;
  align-items: center;
}

.single-items {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
  gap: 30px;
}

.single-item {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
}

@media screen and(max-width:900px) {
  .single-item iframe {
    width: 300px;
    height: auto;
  }
  .single-item {
    max-width: 414px;
  }
}
