$bg-light: rgba(6, 18, 30, 0.99);
$main-color: #dc2c2b;
$text-color: #bbb;
$second-color: #34515e;
$third-color: #356f91;

$font-title: 20px;
$font-des: 14px;

$box-shadow: 0 0 10px 3px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
