.sidebar {
  width: 20%;
  top: 0;
}

.sidebar-about {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.sidebar-hobby {
  text-align: center;
}

.sidebar-title {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.about-img {
  width: 100px;
  border-radius: 3px;
}

.hobby-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #333;
}

.hobby-items li:hover {
  color: #000;
}
