* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000060;
  font-size: 20px;
  position: relative;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.App {
  padding: 0px 50px;
}

.homeScreen {
  display: flex;
  padding: 50px 50px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 80%;
  gap: 20px;
  padding-right: 30px;
}

@media screen and (max-width: 1023px) {
  * {
    font-size: 14px;
  }
  .App {
    padding: 0 20px;
  }
}
