.movieCast {
  display: flex;
  align-items: center;
}

.detail-name img {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

.movie-cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  margin-left: 30px;
  width: 100%;
  text-align: center;
}

.cast-item {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 255, 0.2);
  border-radius: 5px;
  padding: 10px;
}

.movie-cast img {
  width: 50%;
  border-radius: 20px;
}

@media screen and (max-width: 760px) {
  .movieCast {
    display: block;
  }
}
